<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
		<meta name="keywords" content="思陌,思陌广告,企业形象,企业形象定制,微电影,思陌官方网站,成都思陌,成都思陌广告有限责任公司"/>
		<meta name="description" content="成都思陌广告有限责任公司是一家从事企业形象定制的专业机构。"/>

		<title>思陌广告</title>
		<link rel="shortcut icon" href="__PUBLIC__/style/images/logo.ico" type="image/x-icon">
		<link rel="stylesheet" href="__PUBLIC__/style/css/pro.css" type="text/css" />
        <script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
		<script language="javascript"> document.oncontextmenu=function(){return false} </script>
		<script>
			var _hmt = _hmt || [];
			(function() {
			  var hm = document.createElement("script");
			  hm.src = "https://hm.baidu.com/hm.js?034f5b27098691b302ec9e4ea02f1c5e";
			  var s = document.getElementsByTagName("script")[0]; 
			  s.parentNode.insertBefore(hm, s);
			})();
		</script>
		<div id='wx_pic' style='margin:0 auto;display:none;'>
			<img src='__PUBLIC__/style/images/share.jpg' />
		</div>
	</head>
    <script>
        wx.config({
                    debug: false,
                    appId: '{$res.appId}',
                    timestamp: {$res.timestamp},
                    nonceStr: '{$res.nonceStr}',
                    signature: '{$res.signature}',
                    jsApiList: [
                        'checkJsApi',
                        'onMenuShareTimeline',
                        'onMenuShareAppMessage',
                        'onMenuShareQQ',
                        'onMenuShareWeibo',
                        'onMenuShareQZone'
                    ]
                });
        wx.ready(function(){
            // 1 判断当前版本是否支持指定 JS 接口，支持批量判断
            wx.checkJsApi({
                jsApiList: [
                    'onMenuShareTimeline',
                    'onMenuShareAppMessage'
                ],
                success: function (res) {
                    //alert(JSON.stringify(res));
                }
            });
            // 2. 分享接口
            // 2.2 监听“分享到朋友圈”按钮点击、自定义分享内容及分享结果接口
            wx.onMenuShareTimeline({
                title: '{$share.title}',
                link: '{$share.link}',
                imgUrl: '{$share.imgUrl}',
                trigger: function (res) {
                    // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回

                },
                success: function (res) {
                    alert('已分享');
                },
                cancel: function (res) {
                    alert('已取消');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
            // 2.1 监听“分享给朋友”，按钮点击、自定义分享内容及分享结果接口
            wx.onMenuShareAppMessage({
                title: '{$share.title}',
                desc: '{$share.desc}',
                link: '{$share.link}',
                imgUrl: '{$share.imgUrl}',
                trigger: function (res) {
                    // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回

                },
                success: function (res) {
                    alert('已分享');
                },
                cancel: function (res) {
                    alert('已取消');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
            // 2.3 监听“分享到QQ”按钮点击、自定义分享内容及分享结果接口
            wx.onMenuShareQQ({
                title: '{$share.title}',
                desc: '{$share.desc}',
                link: '{$share.link}',
                imgUrl: '{$share.imgUrl}',
                trigger: function (res) {

                },
                //complete: function (res) {
                //	alert(JSON.stringify(res));
                //},
                success: function (res) {
                    alert('已分享');
                },
                cancel: function (res) {
                    alert('已取消');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
            // 2.4 监听“分享到微博”按钮点击、自定义分享内容及分享结果接口
            wx.onMenuShareWeibo({
                title: '{$share.title}',
                desc: '{$share.desc}',
                link: '{$share.link}',
                imgUrl: '{$share.imgUrl}',
                trigger: function (res) {

                },
                //complete: function (res) {
                //	alert(JSON.stringify(res));
                //},
                success: function (res) {
                    alert('已分享');
                },
                cancel: function (res) {
                    alert('已取消');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
            // 2.5 监听“分享到QZone”按钮点击、自定义分享内容及分享接口
            wx.onMenuShareQZone({
                title: '{$share.title}',
                desc: '{$share.desc}',
                link: '{$share.link}',
                imgUrl: '{$share.imgUrl}',
                trigger: function (res) {

                },
                //complete: function (res) {
                //	alert(JSON.stringify(res));
                //},
                success: function (res) {
                    alert('已分享');
                },
                cancel: function (res) {
                    alert('已取消');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });

        })
    </script>