<include file="public:head" />
<body>
	<div id="shouye">
		<div class="sy1"><a href="{:U('Index/rindex')}"><img src="__PUBLIC__/style/images/logo_home.png" /></a></div>
		<div class="sy2">
			<img src="__PUBLIC__/style/images/title_home.png" />
			<!-- <p class="sy2_y">CUSTOMIZATION</p>
			<p class="sy2_y">AGENCY</p>
			<p class="sy2_z">企业形象定制机构</p> -->
		</div>
	</div>
	<div id="bq">Copyright © 2016 <a href="http://www.simo-ad.com/" style="color:#5E5F5F;">Simo.</a> All rights reserved.<a href="http://www.miitbeian.gov.cn/" style="color:#5E5F5F;" target="_blank">蜀ICP备16029593号-1</a></div>

</body>
</html>