<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html"; charset="utf-8" />
		<title>思陌广告后台管理系统</title>
		<link rel="stylesheet" href="__PUBLIC__/style/css/syspro.css" type="text/css" />
	</head>
<body>
	<div id="header">
		<div class="logo"><img src="__PUBLIC__/style/images/simo_logo_header.png" /></div>
		<div class="nav">
			<ul class="navlist">
				<li><a href="{:U('Admin/index')}" title="自在思陌">自在思陌</a></li>
				<li><a href="{:U('Admin/callus')}" title="往来思陌">往来思陌</a></li>
				<li><a href="{:U('Admin/images')}" title="商业相关">商业相关</a></li>
				<li class="bg"><a href="{:U('Admin/movies')}" title="影视相关">影视相关</a></li>
				<!-- <li style="width:21%;"><a href="{:U('Admin/link')}" title="走进远山">友情链接</a></li> -->
			</ul>
		</div>
		<a href="{:U('Index/unlogin')}"><div class="tcdl">登&nbsp;出</div></a>	
	</div>
	<div id="main">
		<div class="fjx"></div>
		<div class="nr">
			<div class="us">
				<form action="{:U('Admin/addsi')}" enctype="multipart/form-data" method="post" id="form3">
				 <div class="lianxi">
				 	<p>名称：</p>
				 	<p>&nbsp;</p>
				 	<p><input name="name" type="text" value="" /></p>
				 	<p>&nbsp;</p>
				 	<p>缩略图（建议图片尺寸为960*270，大小不要超过8MB）：</p>
				 	<p>&nbsp;</p>
				 	<p><input type="file" name="pic1" /></p>
				 	<p>&nbsp;</p>
				 	<p>内容大图（建议图片尺寸为610*960，大小不要超过8MB）：</p>
				 	<p>&nbsp;</p>
				 	<p><input type="file" name="pic2" /></p>
				 </div>
				 <a href="{:U('Admin/adds')}"><div class="save3">取消</div></a><div class="save2" onclick="document.getElementById('form3').submit()">提交</div>
				 </form>
			</div>
		</div>
	</div>
	</div>
	<div id="footer">
		Copyright © 2016 simo. All rights reserved.
	</div>
</body>
</html>